/*------------------------------------
21. Blog
------------------------------------*/
.elh-posts{
    zoom: 1;
    overflow: hidden;
    position: relative;
    margin-bottom: -30px;
}
.elh-post{
    margin: 0 15px;
    background-color: #ffffff;
    .elh-post-thumb{
        display: block;
    }
    .elh-post-video{
        position: relative;
        display: block;
        &:before{
            position: absolute;
            content: "\f04b";
            font-family: "FontAwesome";
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-style: solid;
            border-width: 1px;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            line-height: 78px;
            text-align: center;
            background-color: rgba(#fff, 0.7);
            transition: all 0.3s ease;
        }
    }
    .elh-post-body{
        padding: 25px 40px;
    }
    .elh-post-title{
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin: 0;
        color: #262626;
        a{
            color: inherit;
        }
    }
    .elh-post-link{
        font-family: $headingFont;
        display: inline-block;
        margin-top: 20px;
        .fa{
            margin-left: 3px;
            transition: all 0.3s ease;
        }
        &:hover{
            .fa{
                margin-left: 15px;
            }
        }
    }
    .elh-mini-section &{
        margin: 0;
        .elh-post-body{
            padding: 25px 0 22px;
        }
    }
    &:hover{
        .elh-post-video{
            &:before{
                color: #ffffff;
            }
        }
    }
    &.style-2{
        margin-bottom: 30px;
        .elh-post-body{
            padding: 25px 0 0;
        }
    }
    &.style-3{
        .elh-post-body{
            border: 1px solid #e7e7e7;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 30px;
        }
    }
    &.style-4{
        .elh-post-body{
            border: 1px solid #e7e7e7;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 30px;
        }
        .elh-post-title{
            font-size: 2.8rem;
            line-height: 4rem;
        }
        .elh-post-excerpt{
            margin-top: 15px;
            margin-bottom: 0;
        }
        .elh-post-link{
            font-size: 1.8rem;
            margin-top: 12px;
            .fa{
                margin-left: 10px;
            }
            &:hover{
                .fa{
                    margin-left: 25px;
                }
            }
        }
    }
}

/*** Post by category ***/
.elh-post-by-category{
    .elh-category-title{
        font-size: 1.8rem;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .elh-post{
        margin: 0;
        .elh-post-body{
            border: 1px solid #e7e7e7;
            background-color: #ffffff;
        }
    }
}
/*** Listing ***/
.elh-posts-listing{
    zoom: 1;
    position: relative;
    overflow: hidden;
    .elh-post{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }
}

/*** Blog Pagination ***/
.post-pagination {
    .page-numbers{
    display: inline-block;
    font-family: $headingFont;
    color: #262626;
    border: 1px solid #e7e7e7;
    width: 41px;
    height: 41px;
    line-height: 39px;
    text-align: center;
        border-radius: 3px;
        + .page-numbers{
            margin-left: 12px;
        }
        &.current{
            color: #ffffff;
            &:hover{
                color: #ffffff;
            }
        }
}
}