/*------------------------------------
20. Event
------------------------------------*/
.elh-events {
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: -50px;
    .elh-mini-section & {
        margin-bottom: 0;
    }
}

.elh-event {
    margin-bottom: 50px;
    zoom: 1;
    position: relative;
    overflow: hidden;
    .col-sm-6:nth-child(2n + 1) {
        clear: left;
    }
    .elh-event-date {
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        padding: 30px;
        border-radius: 3px;
        height: 150px;
        width: 150px;
        float: left;
        font-family: $headingFont;
        line-height: 1;
        margin-right: 40px;
        background-size: cover;
        background-position: center center;
        .elh-event-day {
            font-size: 4.8rem;
            font-weight: 700;
            display: block;
            margin: 7px 0;
        }
        .elh-event-month {
            font-size: 1.8rem;
        }
        +.elh-event-detail {
            width: calc(100% - 190px);
            margin-top: 15px;
        }
    }
    .elh-event-detail {
        display: inline-block;
        vertical-align: middle;
        float: left;
        widows: 100%;
    }
    .elh-event-title {
        font-size: 2.2rem;
        color: #262626;
        margin-top: 0;
        margin-bottom: 13px;
        a {
            color: inherit;
        }
    }
    .elh-event-metas {
        margin-bottom: 7px;
        span {
            display: inline-block;
            +span {
                margin-left: 90px;
            }
            .fa {
                margin-right: 6px;
            }
        }
    }
    .elh-mini-section & {
        margin-bottom: 20px;
        +.elh-event {
            margin-top: 0;
        }
        .elh-event-date {
            height: 80px;
            width: 80px;
            padding: 8px 12px;
            margin-right: 20px;
            .elh-event-day {
                font-size: 2.8rem;
                margin-bottom: 5px;
            }
            .elh-event-month {
                font-size: 1.2rem;
            }
            +.elh-event-detail {
                width: calc(100% - 100px);
            }
        }
        .elh-event-detail {
            color: #262626;
        }
        .elh-event-title {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 7px;
        }
        .elh-event-metas {
            span {
                +span {
                    margin-left: 15px;
                }
            }
        }
    }
    &.style-2{
        .elh-event-date{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#000, 0.4);
            }
            .elh-event-day{
                position: relative;
            }
            .elh-event-month{
                position: relative;
            }
        }
    }
}

.elh-mini-all-link {
    font-family: $headingFont;
    .fa {
        margin-left: 3px;
        transition: all 0.3s ease;
    }
    &:hover {
        .fa {
            margin-left: 15px;
        }
    }
}
