/*------------------------------------
11. Course
------------------------------------*/

.elh-course {
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    text-align: center;
    .elh-generic-carousel &{
        margin: 0 15px;
    }
    .elh-course-content{
        padding: 15px 30px;
        margin-top: 10px;
    }
    .elh-course-title{
        margin: 0;
        font-size: 1.8rem;
        color: #111111;
        line-height: 2.5rem;
        a{
            color: inherit;
        }
    }
    .elh-course-instructor{
        padding: 0 30px;
    }
    .elh-instructor-thumb{
        border-radius: 50%;
        width: 60px;
        overflow: hidden;
        margin: 0 auto;
        + .elh-instructor-name{
            margin-top: 5px;
        }
    }
    .elh-instructor-name{
        font-family: $baseFont;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0;
    }
    .elh-course-footer{
        margin: 12px 30px 0;
        border-top: 1px solid #bdbdbd;
        padding: 12px 0 22px;
        zoom: 1;
        overflow: hidden;
        position: relative;
    }
    .elh-course-price{
        margin: 0;
        font-size: 1.8rem;
        font-family: $headingFont;
        font-weight: 700;
        float: left;
        width: 50%;
        vertical-align: middle;
        display: inline-block;
        text-align: left;
        .elh-price-regular{
            text-decoration: line-through;
            color: rgba(#262626, 0.4);
            margin-left: 7px;
        }
        .elh-price-free{
            color:  #7fba00;
        }
    }
    .elh-course-metas{
        margin: 3px 0 0;
        vertical-align: middle;
        display: inline-block;
        text-align: right;
        float: left;
        width: 50%;
        span{
            + span{
                margin-left: 25px;
            }
        }
    }
    &.style-2{
        text-align: left;
        .elh-instructor-thumb{
            margin-left: 0;
            display: inline-block;
            vertical-align: middle;
            +.elh-instructor-name{
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
                margin-top: 0;
            }
        }
    }
}

/*** Course Grid ***/
.elh-courses-grid{
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
    .elh-course{
        margin-bottom: 30px;
    }
}

/*** Course Isotope ***/
.elh-grid-section{
    .container{
        position: relative;
    }
    .elh-grid-filter{
        top: 7px;
        right: 15px;
        position: absolute;
        button{
            font-size: 1.2rem;
            font-family: $headingFont;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid #e7e7e7;
            line-height: 2.6rem;
            padding: 0 10px;
            background-color: transparent;
            min-width: 62px;
            text-align: center;
            transition: all 0.3s ease;
            + button{
                margin-left: 7px;
            }
            &:focus{
                outline: none;
            }
            &.active{
                color: #ffffff;
                &:hover{
                    color: #ffffff;
                }
            }
        }
    }
}
.elh-courses-isotope{
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
    .elh-course{
        margin-bottom: 30px;
    }
}
.elh-course-listing{
    .elh-course{
        margin-bottom: 30px;
    }
    .nav-links {
        margin-top: 20px;
    }
}

/*** Course Small ***/
.elh-courses-small{
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: -30px;
    .elh-course{
        border: none;
        margin-bottom: 30px;
        .elh-course-content{
            padding: 5px 0 0;
        }
        .elh-course-title{
            text-transform: uppercase;
        }
        .elh-course-excerpt{
            margin-top: 6px;
        }
    }
}

