/*------------------------------------
32. Highlight
------------------------------------*/
.elh-highlight{
    text-align: center;
    color: #ffffff;
    padding: 48px 30px;
    border-radius: 3px;
    &.upfloat-style{
        margin-top: -155px;
    }
    .elh-highlight-title{
        font-size: 2.2rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 48px;
        position: relative;
        padding-bottom: 20px;
        &:before{
            content: "";
            position: absolute;
            left: 50%;
            bottom: 2px;
            transform: translateX(-50%);
            height: 1px;
            width: 130px;
            background-color: rgba(#ffffff, 0.5);
        }
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            width: 60px;
        }
    }
    .elh-highlight-item{
        margin-bottom: 40px;
    }
    .hightlight-title{
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 0;
        a{
            color: inherit;
            &:hover{
                color: #262626;
            }
        }
    }
    .hightlight-cat-links{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            font-family: $headingFont;
            font-weight: 700;
            + li{
                &:before{
                    content: "|";
                }
            }
            a{
                color: #ffffff;
                padding: 0 10px;
                &:hover{
                    color: #262626;
                }
            }
        }
    }
}