// Base Fonts
$baseFont: 'Open Sans', sans-serif;
$baseFontSize: 1.4rem;
$baseFontColor: #111111;

//Heading Fonts
$headingFont: 'Roboto Slab', sans-serif;
$headingFontWeight: 700;
$headingFontColor: #262626;