/*------------------------------------
8. Book
------------------------------------*/
.elh-book{
    background-color: #ffffff;
    border-radius: 3px;
    margin: 0 15px;
    text-align: center;
    .elh-book-name{
        margin: 0;
        color: #111111;
        font-size: 1.4rem;
    }
    .elh-book-body {
        padding: 20px 15px;
    }
    .elh-book-price{
        color: #111111;
        font-family: $headingFont;
        font-weight: 700;
        font-size: 2.2rem;
        margin-top: 6px;
        margin-bottom: 10px;
    }
    .btn{
        margin-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
        &:hover{
            background-color: transparent;
        }
    }
}