/*------------------------------------
27. Country Flag
------------------------------------*/
.elh-country-flag-slider{
    margin: 50px 0;
}
.elh-country-flag{
    text-align: left;
    h5{
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 0;
    }
}