/*------------------------------------
24. Facility
------------------------------------*/
.facilities{
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
}
.facility{
    text-align: center;
    position: relative;
    padding-top: calc(100% - 20px);
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: 30px;
    .facility-hover{
        position: absolute;
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        &:after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.4;
        }
    }
    .facility-content{
        position: absolute;
        top: 50%;
        left: 30px;
        right: 30px;
        transform: translateY(-50%);
        text-align: center;
    }
    .facility-icon{
        font-size: 4.8rem;
        line-height: 1;
        transition: all 0.3s ease;
    }
    .facility-title{
        font-size: 2.2rem;
        margin-top: 15px;
        margin-bottom: 0;
        color: #262626;
        transition: all 0.3s ease;
    }
    &:hover{
        .facility-hover{
            opacity: 1;
        }
        .facility-icon{
            color: #ffffff;
        }
        .facility-title{
            color: #ffffff;
        }
    }
}