/*------------------------------------
12. Featured Course
------------------------------------*/
.elh-featured-courses{
    border-radius: 3px;
    color: #ffffff;
    padding: 45px 30px;
    &.upfloat-style{
        margin-top: -190px;   
    }
    .elh-featured-courses-title{
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 2.2rem;
        position: relative;
        padding-bottom: 20px;
        &:before{
            content: "";
            position: absolute;
            bottom: 2px;
            left: 60px;
            width: 70px;
            height: 1px;
            background-color: rgba(#fff, 0.5);
        }
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 5px;
            background-color: rgba(#000, 0.2);
        }
    }
    .featured-courses{
        position: relative;
        zoom: 1;
        overflow: hidden;
        margin-bottom: -30px;
    }
    .featured-course{
        margin-bottom: 30px;
        background-color: rgba(#000, 0.2);
        text-align: center;
        border-radius: 3px;
        padding: 25px 10px;
        display: block;
        .featured-course-icon{
            font-size: 3rem;
            line-height: 1;
        }
        .featured-course-title{
            font-size: 1.8rem;
            margin-top: 15px;
            margin-bottom: 0;
            color: #ffffff;
        }
    }
    &.elh-banner-featured-course{
        border-radius: 0;
        padding: 0;
        margin-top: 60px;
        background-color: transparent;
        .featured-courses{
            margin-bottom: 0;
            margin-left: -9px;
            margin-right: -9px;
        }
        .featured-course{
            margin-bottom: 0;
            margin-left: 9px;
            margin-right: 9px;
            width: calc(16.666666% - 18px);
            float: left;
            padding: 40px 10px;
            background-color: rgba(#000, 0.3);
        }
    }
}