/*------------------------------------
3. Navigation
------------------------------------*/

/*** Topbar ***/
.elh-topbar{
    color: #ffffff;
    line-height: 50px;
    position: relative;
    z-index: 991;
    .top-block{
        display: inline-block;
        vertical-align: middle;
        + .top-block{
            margin-left: 55px;
        }
    }
    p{
        display: inline-block;
        font-family: $headingFont;
        margin-bottom: 0;
        + p{
            margin-left: 25px;
        }
        .fa{
            margin-right: 8px;
        }
    }
    .top-socials{
        a{
            display: inline-block;
            color: #ffffff;
            + a{
                margin-left: 11px;
            }
        }
    }
    .language-block{
        position: relative;
    }
    .language-selected{
        cursor: pointer;
        .fa{
            margin-right: 0;
            margin-left: 1px;
        }
    }
    .language-select{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        width: 160px;
        border-radius: 3px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-color: #ffffff;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            a{
                display: block;
                padding: 7px 15px;
                line-height: 20px;
                text-transform: uppercase;
                &:hover{
                    color: #ffffff;
                }
            }
            &:first-child{
                padding-top: 10px;
            }
            &:last-child{
                padding-bottom: 10px;
            }
            &.current{
                a{
                    color: #ffffff;
                }
            }
        }
    }
    .top-links{
        a{
            display: inline-block;
            font-family: $headingFont;
            color: #ffffff;
            + a{
                margin-left: 25px;
            }
        }
    }
}
/*** Main Navigation ***/
.navbar {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 990;
    transition: all 0.3s ease;
    .container {
        position: relative;
    }
    .navbar-brand {
        height: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
        img {
            height: 100%;
            width: auto;
        }
    }
    .navbar-search {
        margin-right: -30px;
    }
    .navbar-search-toggle {
        font-size: 1.4rem;
        line-height: 20px;
        padding: 30px 0;
        width: 50px;
        text-align: center;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease;
    }
    .navbar-searchform {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-color: #ffffff;
        width: 320px;
        [type=submit] {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid transparent;
            background-color: transparent;
            padding: 8px 20px;
        }
    }
    .navbar-nav {
        li {
            a {
                font-family: $headingFont;
                font-size: 1.4rem;
                font-weight: 400;
                color: #262626;
            }
        }
        > li {
            > a {
                padding: 30px 18px;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
            &:hover {
                > a {
                    color: #000;
                }
            }
        }
        .dropdown-menu {
            display: block;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border: none;
            padding: 10px;
            left: 0;
            right: auto;
            transform-origin: top;
            transform: rotateX(90deg);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            li {
                a {
                    line-height: 20px;
                    padding: 6px 20px;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
        .dropdown {
            > a {
                &:after {
                    content: "\f107";
                    font-family: "FontAwesome";
                    margin-left: 4px;
                }
            }
            &:hover {
                .dropdown-menu {
                    transform: rotateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .navbar-right {
        > li {
            &:last-child,
            &:nth-last-child(2) {
                .dropdown-menu {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    &.fix-nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(#000, 0.3);
        .navbar-nav{
            >li{
                >a{
                    color: #ffffff;
                }
            }
        }
        &.style-2{
            background-color: rgba(#fff, 0.07);
        }
        &.style-3{
            background-color: transparent;
        }
    }
    &.affix{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #262626;
        .navbar-brand{
            margin-top: 0;
            margin-bottom: 0;
            height: 60px;
        }
        .navbar-nav{
            >li{
                >a{
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
        .navbar-search-toggle{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &.style-3{
            background-color: #262626;
        }
    }
}
